* {
  box-sizing: border-box;
}

header {
  background-color: #7867c4;
  padding: 10px; /* Adds a 10px inner spacing to all sides */
  border-bottom: 3px solid #302e2e;
  display: flex; /* Updated for better alignment */
  justify-content: space-between;
}

header ul > li {
  display: inline;
  padding: 10px;
  width: 15px;
  margin: auto;
}

#hero h1 {
  text-align: center; /* Centers text */
}
#hero span {
  display: block;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
nav > ul {
  list-style-type: none;
  padding: 0; /* Reset padding */
}
nav > ul > li > a {
  text-decoration: none;
  font-weight: 700;
  color: #4a4a4a;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
nav > ul > li {
  display: inline-block;
  margin-right: 10px; /* Space between menu items */
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
/* Layout styling */

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */

  float: right;
}
.selector {
  position: relative;
}
.selector {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #3eb82e;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #2854b4;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #fafcfb;
}

a:active {
  /* selected link */
  color: #44c4a8;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgb(101, 137, 190);
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #1e549b;
}

.button.contact {
  background-color: transparent;
  color: #1b7ea5;
  text-transform: uppercase; /* or lowercase, capitalize */
  border-bottom: 2px solid #1e549b;
  border: 2px solid;
}

.button.contact:hover {
  background-color: #3978d8;
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto; /* Centered container */
  padding: 0 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}
@media only screen and (min-width: 641px) {
  /* Responsive Grid */
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: calc(100% / 4);
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
    float: left;
  }
}
/* Large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {
}
/* X-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {
  .grid {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
/* 
Extra-large devices (1920px or larger)
*/
@media only screen and (min-width: 1920px) {
}

img {
  width: 100%;
  height: auto;
  justify-content: left;
}
.logo-wrapper {
  width: 100px;
}
.img-wrapper {
  max-width: 400px;
  margin: auto;
}
.ufo-sec .text-container {
  position: relative;
}

.centerme {
  text-align: center;
}

.custom-p-size {
  font-size: 20px;
}
